<!-- 导入模版页 -->
{% extends 'base.html' %}
<!-- 导入静态资源 -->
{% load static %}
<!-- xxx -->
{% block content %}
<!-- 导入评论库模块的模版标签 -->
{% load comments %}
<!--统计评论数量  在需要位置引用”{{ comment_count }}“即可显示评论数量-->
{% get_comment_count for article as comment_count %}



<div id="primary" class="content-area col-lg-9" itemprop="mainContentOfPage">
    <div id="content" class="site-content" role="main" itemscope="" itemtype="http://schema.org/Article">
{% autoescape off %}        <!-- 去掉富文本标签-开始 -->
        <article id="post-434" class="post-434 post type-post status-publish format-standard hentry category-xinde">
            <header class="entry-header">
                <h1 class="entry-title" itemprop="name">{{ article.title }}</h1>
                <div class="entry-meta"><span class="entry-date"><a href="/info/{{ article.id }}.html"
                                                                    rel="bookmark"><time class="entry-date published"
                                                                                         datetime="{{ article.created_time }}"
                                                                                         itemprop="datepublished">{{ article.created_time }}</time></a></span>
                    by <span class="author vcard" itemscope="" itemprop="author" itemtype="http://schema.org/Person"><a
                            class="url fn n" href="https://www.dnbbn.com/author/jinghuaxia" rel="author" itemprop="url"><span
                            itemprop="name">{{ category.name }}</span></a></span><span class="sep">·</span><span class="comments-link"><a
                            href="#" itemprop="discussionUrl">{{ comment_count }}条评论</a></span>
                </div>
            </header>


            <div class="entry-content" itemprop="articleBody">
                <div class="exp-content-block">
                    <div class="exp-content-body exp-brief-step">
                        <div class="exp-content-listblock">
                            <div class="content-listblock-text">
                                <p>{{ article.content }}</p>
                            </div>
                            <div class="content-listblock-media"></div>
                        </div>
                    </div>
                </div>

                <div class="exp-content-block">
                    <div class="exp-content-body"></div>
                </div>
            </div>
        </article>
{% endautoescape %}        <!-- 去掉富文本标签-结束 -->

<hr>

<!--评论及回复-->
        <div id="comments" class="comments-area">
            <h2 class="comments-title">
                <span itemprop="interactionCount">{{ comment_count }}</span> 评论 </h2>
            <ol class="comment-list">
            {% get_comment_list for article as comments %}
            {% for comment in comments %}
                <li id="comment-1690" class="comment even thread-even depth-1">
                    <article id="div-comment-1690" class="comment-body">
                        <footer class="comment-meta">
                            <div class="comment-author vcard">
                                <b class="fn"><a href="" rel="external nofollow ugc"
                                                 class="url">{{ comment.user_name }}</a></b><span class="says">说道：</span>
                            </div><!-- .comment-author -->
                            <div class="comment-metadata">
                                <a href="">
                                    <time datetime="">{{ comment.submit_date|date:"Y-m-d H:i"}}</time>
                                </a>
                            </div><!-- .comment-metadata -->
                        </footer><!-- .comment-meta -->
                        <div class="comment-content">
                                    <p>
                                        {{ comment.comment }}
                                    </p>
                        </div><!-- .comment-content -->
                    </article><!-- .comment-body -->
                </li><!-- #comment-## -->
            {% empty %}
            <span>暂无评论</span>
            {% endfor %}
            </ol>

        <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">发表评论</h3>
				{% get_comment_form for article as blog_form %}
				<form id="comment_form"
					  class="comment-form"
					  novalidate=""
					  action="{% comment_form_target %}"
					  method="post">
					{% csrf_token %}
					{# 必须的字段 #}
					{{ blog_form.object_pk }}
					{{ blog_form.content_type }}
					{{ blog_form.timestamp }}
					{{ blog_form.site }}
					{{ blog_form.submit_date }}
					{{ blog_form.security_hash }}

					 <p class="comment-notes"><span
                        id="email-notes">您的电子邮箱地址不会被公开。</span> <span class="required-field-message" aria-hidden="true">必填项已用<span
                        class="required" aria-hidden="true">*</span>标注</span>
					</p>

                    <p class="comment-form-comment"><label for="comment">评论 <span class="required" aria-hidden="true">*</span></label>
                        <textarea id="id_comment" name="comment" rows="8" cols="45" maxlength="65525" required="" placeholder="请输入评论内容"></textarea>
					</p>

                    <p class="comment-form-author"><label for="author">显示名称 <span class="required" aria-hidden="true">*</span></label>
						<input type="text"
							id="id_name" name="name"
							placeholder="请输入您的用户名" />
                        <!--value="{{ user.username }}" />-->
                    </p>

                    <p class="comment-form-email"><label for="email">电子邮箱地址 <span class="required" aria-hidden="true">*</span></label>
						<input type="email"
							id="id_email"name="email"
							placeholder="请输入您的邮箱地址"
							value="{{ user.email }}" />
                    </p>

					<p style="display:none;">
						<label for="id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论。</label>
						<input type="text" name="honeypot" id="id_honeypot">
					</p>

                    <p class="form-submit">
						<input name="submit" type="submit" id="submit" class="submit" value="发表评论">
                        <input type="hidden" name="next" value="{% url 'daniuapp:info_new' article.id %}"/>
                    </p>
				</form>

            </div><!-- #respond -->
        </div>


    </div>
</div>
{% endblock %}