<!-- 导入模版页 -->
{% extends 'base.html' %}
<!-- 导入静态资源 -->
{% load static %}
<!-- xxx -->
{% block content %}
<style>
.ncnkefu {
    margin: 5% auto;
    width: 60%;
}
</style>
<!--邮件发送状态提醒+alert样式重写-->
<script>
    window.alert = alert;
    function alert(data, callback) { //回调函数
        var alert_bg = document.createElement('div');
        alert_box = document.createElement('div'),
        alert_text = document.createElement('div'),
        alert_btn = document.createElement('div'),
        textNode = document.createTextNode(data ? data : ''),
        btnText = document.createTextNode('确 定');
        // 控制样式
        css(alert_bg, {//背景颜色设置
            'position': 'fixed',
            'top': '0',
            'left': '0',
            'right': '0',
            'bottom': '0',
            'background-color': 'rgba(0, 0, 0, 0.1)',
            'z-index': '999999999'
        });
        css(alert_box, {//控制盒子大小、背景颜色上下边距
            'width': '270px',
            'max-width': '90%',
            'font-size': '16px',
            'text-align': 'center',
            'background-color': '#fff',
            'border-radius': '15px',
            'position': 'absolute',
            'top': '50%',
            'left': '50%',
            'transform': 'translate(-50%, -50%)'
        });
        css(alert_text, {
            'padding': '10px 15px',
            'border-bottom': '1px solid #ddd'
        });
        css(alert_btn, {
            'padding': '10px 0',
            'color': '#007aff',
            'font-weight': '600',
            'cursor': 'pointer'
        });
        // 内部结构套入
        alert_text.appendChild(textNode);
        alert_btn.appendChild(btnText);
        alert_box.appendChild(alert_text);
        alert_box.appendChild(alert_btn);
        alert_bg.appendChild(alert_box);
        // 总体显示到页面内
        document.getElementsByTagName('body')[0].appendChild(alert_bg);
        // 肯定绑定点击事件删除标签
        alert_btn.onclick = function() {
            alert_bg.parentNode.removeChild(alert_bg);
            if (typeof callback === 'function') {
                callback(); //回调
            }
        }
    }
    function css(targetObj, cssObj) {
        var str = targetObj.getAttribute("style") ? targetObj.getAttribute('style') : '';
        for (var i in cssObj) {
            str += i + ':' + cssObj[i] + ';';
        }
        targetObj.style.cssText = str;
    }
//点击确定跳转到指定地址
    var status = '{{ mail_status }}';
    if (status.length !== 0)
    {
        if ("{{ mail_status }}".substring(0,7)=="success")
        {
            alert("{{ mail_status }}", function() {
                window.location.href = '/';
            });
        }
        else
        {
            alert("{{ mail_status }}", function() {
                window.location.href = '/ncnkefu.html';
            });
        }
    }
</script>

<div id="respond" class="ncnkefu">
   <form   id="comment_form"
			class="comment-form"
			novalidate=""
           action="/ncnkefu_res.html"
           method="post">
           {% csrf_token %}
          <!-- Unnamed (文本框(邮件主题)) -->
          <p class="comment-form-author"><label for="author">邮件主题 <span class="required" aria-hidden="true">*</span></label>
            <br>
			<input type="email" id="id_name" name="subject"
                   placeholder="请输入邮件主题" />
                   <!--value="{{ user.username }}" />-->
          </p>
          <!-- Unnamed (文本框(邮件正文)) -->
         <p class="comment-form-comment"><label for="comment">邮件正文 <span class="required" aria-hidden="true">*</span></label>
           <br>
           <textarea id="id_comment" name="message" rows="8" cols="45" maxlength="65525" required="" placeholder="请输入邮件正文"></textarea>
           <br>
           <label for="comment"><span class="required" aria-hidden="true">*注：</span>邮件主题/正文中务必注明联系电话或邮箱</label>
         </p>

<!--       &lt;!&ndash; Unnamed (文本框(邮件地址)) &ndash;&gt;-->
<!--        <p class="comment-form-email"><label for="email">发件人邮箱地址 <span class="required" aria-hidden="true">*</span></label>-->
<!--          <br>-->
<!--			<input type="email"-->
<!--                   id="id_email"-->
<!--                   name="from_email"-->
<!--                   placeholder="请输入您的邮箱地址"-->
<!--                   value="{{ user.email }}" />-->
<!--        </p>-->
       <!-- Unnamed (HTML按钮) -->
       <p class="form-submit">
			<input  id="u1_input" type="submit" id="submit" class="submit" value="发送邮件">
       </p>
   </form>
</div>
{% endblock %}